@using Microsoft.AspNetCore.Components.Forms
@using SharedModels.Models



<div>
    <EditForm Model="_form" OnValidSubmit="SubmitForm">
        <label for="date">Date</label>
        <InputDate Type="InputDateType.DateTimeLocal"
                   @bind-Value="_form.date" />

        <label for="type">Type</label>
        <div>
            <select id="type" @bind="_form.type">
                <option value="">Select an option</option>
                @foreach (var option in Enum.GetValues(typeof(AssessmentType)))
                {
                    <option value="@option">@option</option>
                }
            </select>
            <input type="text" @bind="_form.customDescription" placeholder="Enter custom type" disabled="@(_form.type != AssessmentType.Custom)" />
        </div>

        <label for="status">Status</label>
        <div>
            <select id="status" @bind="_form.status">
                <option value="">Select an option</option>
                @foreach (var option in Enum.GetValues(typeof(AssessmentStatus)))
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>

        <button class="btn btn-primary" @onclick="() => SubmitForm()">Add</button>
        <button @onclick="Cancel">Cancel</button>
    </EditForm>
</div>

@code {
    public Assessment _form = new();

    [CascadingParameter] BlazoredModalInstance BlazoredAssessmentModal { get; set; } = default!;

    protected override void OnInitialized() => BlazoredAssessmentModal.SetTitle("Enter the assessment details");

    private async Task SubmitForm()
    {
        _form.date = _form.date.AddHours(1);
        await BlazoredAssessmentModal.CloseAsync(ModalResult.Ok(_form));
    }

    private async Task Cancel() => await BlazoredAssessmentModal.CancelAsync();
    }

